body {
    background-color: #BDF1F4;
    font-family: 'Do Hyeon', sans-serif;
    
}

.background {
    /* 모바일 버전일 때, 화면에 꽉차도록 */
    width: 100vw;
    height: 100vh;
    max-width: 450px;

    background-position: center;
    background-size: cover;

    margin: 0 auto;
}

#textbox{
    background-color: white;

    width: 400px;
    margin: 0 auto;
    padding: 20px 30px 30px 30px;

    text-align: center;
    color: #17666B;
	
    border-radius: 20px;
}

#title{
    font-size: 30px;
}

#start_bt{
    background-color: white;
    border-style: dotted;
    border-radius: 60px;
    border-color: #0099AE;

    padding: 15px 15px;
    
    font-family: 'Do Hyeon', sans-serif;
    color: #0099AE;
}
