* {
    font-family: 'Do Hyeon', sans-serif;
}
body {
    background-color: #BDF1F4;
}
.background {
    /* 모바일 버전일 때, 화면에 꽉차도록 */
    width: 100vw;
    height: 100vh;
    max-width: 450px;

    background-position: center;
    background-size: cover;

    margin: auto;
}
.progress {
    margin: 20% 5% 2%;
}

.box1 {
    background-color: #94F0F0;
    background-position: center;
    background-size: cover;

    border-radius: 20px;
    border-style: dotted;
    border-color: #fff;

    text-align: center;
    color: #17666B;

    margin: auto;
}
p {
    margin: 0;
}

.box1>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3vh;
}
.box1>div>img {
    padding: 3%;
}
.box1>div>div {
    padding: 3%;
}
.box2 {
    padding: 3vh 0;
}
.answer {
    background-color: #fff;
    background-position: center;
    background-size: cover;

    border-radius: 30px;
    border-style: solid;
    border-color: #0099AE;

    text-align: center;
    color: #17666B;
    font-size: small;

    margin: auto;
    
    margin: 5% 2%;
    padding: 3% 2%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
}