body {
    /* 공통 글꼴 및 메인 크기 */
    background-color: #BDF1F4;
    font-family: 'Do Hyeon', sans-serif;

}


.background {
    /* 모바일 버전일 때, 화면에 꽉차도록 */
    width: 100vw;
    height: 100vh;
    max-width: 450px;

    background-position: center;
    background-size: cover;

    margin: 0 auto;
}

#textbox_1, #textbox_2{
    background-color: white;
    
    margin: 0 auto;
    padding: 20px 30px 30px 30px;
    
    text-align: center;
    color: #17666B;

	border-radius: 20px;
    border-style: dotted;
    border-color:#BDF1F4;

}

#textbox_2{
    margin: 3vh auto;
}

#text3{
    display:flex;
    justify-content: center;
}

#map{
    width: 200px; 
    height: 200px;
}


.text1{
    font-size: 25px;
}
.mbti_text{
    font-size: 40px;
}
.text2{
    font-size: 25px;
}
.link-icon { 
    display:flex;
    justify-content: center;

    margin: 0 auto;
} 